<!DOCTYPE html>
<htmln xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="bootstrap.css">
        <link rel="stylesheet" href="estilosL.css">
        <link rel="stylesheet" href="./css/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" >
        <script src="/jquery-3.5.1.min.js"></script>
        <script src="node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
        <script src="./js/login.js"></script>


    </head>
    
    <body>
        <body id="login" >
            <form  class="formulario3">
                <h1>RECUPERAR CONTRASEÑA</h1>
                <label class="title_recuCotr"for="name">Correo Electronico</label>
                <input type="email" name="" placeholder="Correo">
                <input type="button" name="" value="ENVIAR" onclick="validarRecuperar()">
                <a id="olv"href="./Iniciar">Inicio Sesión</a>
            </form>
           
        </body>
       
    </body>
    
</htmln>